{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super}} - Password Change
{% endblock title %}

{% block content %}
    <div class="page-header text-center col-12">
        <h1 class="pt-3">Change Password</h1>
    </div>

    <div class="user-form">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="submit-btn">Change Password</button>
        </form>
    </div>
{% endblock content %}