html, body {
    margin: 0;
    padding: 0;
    height:100%;
    background-color: rgb(212, 226, 235) !important;
}

.navbar, .dropdown-menu {
    background-color: rgb(240, 234, 206) !important;
}

a.navbar-brand {
    color:rgb(138, 51, 16) !important;
}

.figure-caption {
    color:rgb(138, 51, 16) !important;
}

a.nav-link {
    color:rgb(138, 51, 16) !important;
}

.nav-item:visited, .dropdown-item:visited {
    background-color: rgb(240, 234, 206) !important;
}

.nav-item.active, .dropdown-item.active {
    background-color: rgb(235, 216, 144) !important;
}

.nav-item:hover, .dropdown-item:hover {
    background-color: rgb(235, 223, 174) !important;
}

.dropdown-menu {
    opacity: 0.9 !important;
}

.container {
    color: rgb(138, 51, 16) !important;
    min-height: 100%;
    margin-top: 80px;
}

h1 {
    font-weight: bolder;
}

.news {
    width: 160px;
    background-color: rgb(138, 51, 16);
}

.breaking-news {
    background-color:  rgb(240, 234, 206);
}

.news-scroll a {
    text-decoration: none;
    color: rgb(25, 133, 201);
    font-size: large;
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(138, 51, 16);
    border-radius: 50%;
    display: inline-block
}

.card {
    background-color:  rgb(240, 234, 206);
    color: rgb(25, 133, 201);
}

.card-title {
    background-color: rgb(138, 51, 16);
    color: white;
}

.list-group {
    background-color:  rgb(240, 234, 206);
    color: rgb(25, 133, 201);
}

.list-group-item {
    background-color:  rgb(240, 234, 206);
    color: rgb(25, 133, 201);
    font-weight: bold;
}

.list-group-item-action:visited {
    color: rgb(25, 133, 201);
    background-color: rgb(240, 234, 206) !important;
}

.list-group-item-action:hover {
    color: rgb(25, 133, 201);
    background-color: rgb(235, 223, 174) !important;
}

.list-group-item-action:active {
    color: rgb(25, 133, 201);
    background-color: rgb(235, 223, 174) !important;
}


.user-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.search-form {
    width: 100%;
}

label {
    color: rgb(25, 133, 201) !important;
    font-weight: bold !important;
}

input, textarea, select {
    color: rgb(253, 234, 159) !important;
    background-color: rgb(126, 171, 199) !important;
    font-weight: bold !important;
}

.form-text {
    color: rgb(138, 51, 16) !important;
}

.submit-btn {
    display: block;
    border-radius: 10%;
    background-color: rgb(240, 234, 206);
    color: rgb(138, 51, 16);
    font-weight: bold;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.submit-btn:hover {
    background-color: rgb(235, 223, 174);
}

.search-btn {
    height: 100%;
}

.head-text, .display-text {
    color:rgb(138, 51, 16);
}

.display-text {
    font-weight: bold;
    font-size: 18px !important;
}

.link-text {
    font-size: small;
    text-transform: uppercase;
    color:rgb(138, 51, 16);
    text-decoration: none;
}

.link-text:visited {
    color:rgb(138, 51, 16);
    text-decoration: none;
}

.link-text:hover {
    color:rgb(138, 51, 16);
    background-color: rgb(235, 223, 174);
    text-decoration: none;
}

.storage-card {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.storage-card-header {
    height: 50px;
}

.storage-card-body {
    height: 350px;
    border-left: 4px solid rgb(87, 28, 7);
    border-right: 4px solid rgb(87, 28, 7);
    border-bottom: 4px solid rgb(87, 28, 7);
}

.storage-card-footer {
    height: 50px;
}

.capacity-text {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(138, 51, 16);
    text-decoration: none;
}

.volume-text {
    height: 30px;
    color: rgb(25, 133, 201) !important;
    font-weight: bold;
}

.new-tank-link {
    text-transform: uppercase;
    color:rgb(138, 51, 16);
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.new-tank-link:visited {
    color:rgb(138, 51, 16);
    text-decoration: none;
}

.new-tank-link:hover {
    color:rgb(138, 51, 16);
    border: 1px solid rgb(138, 51, 16);
    text-decoration: none;
}

.wave {
    background: linear-gradient(to bottom, rgb(244, 209, 96), rgb(210, 177, 30));
    position: relative;
}

.wave::before, .wave::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat-x;
}

.wave::before {
    height: 10px;
    background-size: 20px 20px;
    background-image: radial-gradient(circle at 10px -5px, transparent 12px, rgb(240, 234, 206) 13px);
}

.wave::after {
    height: 15px;
    background-size: 40px 20px;
    background-image: radial-gradient(circle at 10px 15px, rgb(240, 234, 206) 12px, transparent 13px);
}

.wave--top {
    background: linear-gradient(to top, rgb(244, 209, 96), rgb(210, 177, 30));
}

.wave--top::before, .wave--top::after {
    bottom: auto;
    top: 0;
}

.wave--top::before {
    background-image: radial-gradient(circle at 10px 15px, transparent 12px, rgb(240, 234, 206) 13px);
}

.wave--top::after {
    background-image: radial-gradient(circle at 10px 0, rgb(240, 234, 206) 12px, transparent 13px);
}

table {
    color:rgb(138, 51, 16) !important;
}

.footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    background-color: rgb(240, 234, 206);
    text-align: center;
}

.copyright {
    color:rgb(138, 51, 16);
    font-weight: bold;
    font-size: small;
}