{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Multan Oil Refinery{% endblock title %}</title>

    <!-- ICON IMAGE -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light py-0">
        <a class="navbar-brand" href="{% url 'home' %}">
            <figure class="figure m-0">
                <img src="{% static 'images/logo.png' %}" class="figure-img img-fluid rounded m-0" alt="Logo Image">
                <figcaption class="figure-caption text-center font-weight-bold">MOR</figcaption>
            </figure>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}"><strong>HOME</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>BLOG</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>NEWS</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>MEDIA</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>BRANCHES</strong></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>PRODUCTS</strong></a>
            </li>
          </ul>
    
          <ul class="navbar-nav ml-0 mr-auto my-2">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <strong>{{ user.username|upper }}</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item nav-link" href="{% url 'user_list' %}"><strong>USER MANAGEMENT</strong></a>
                        <a class="dropdown-item nav-link" href="{% url 'storage_list' %}"><strong>STORAGE MANAGEMENT</strong></a>
                        <a class="dropdown-item nav-link" href="{% url 'branch_list' %}"><strong>BRANCH MANAGEMENT</strong></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item nav-link" href="{% url 'update_user' user.id %}"><strong>UDATE PROFILE</strong></a>
                        <a class="dropdown-item nav-link" href="{% url 'password_change' %}"><strong>CHANGE PASSWORD</strong></a>
                        <a class="dropdown-item nav-link" href="{% url 'logout' %}"><strong>LOGOUT</strong></a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><strong>LOGIN</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}"><strong>SIGNUP</strong></a>
                </li>
            {% endif %}
          </ul>
        </div>
    </nav>

    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
    </div>
    {% endfor %}

    <div class="container">
        {% block content %}
            
        {% endblock content %}
    </div>

    <footer class="footer mt-4">
      <p class="copyright m-0">Copyright &copy; MOR 2021</p>
    </footer>

    <!-- BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function () {
          var url = window.location;
          $('ul.navbar-nav a[href="'+ url +'"]').parent().addClass('active');
          $('ul.navbar-nav a').filter(function() {
               return this.href == url;
          }).parent().addClass('active');
      });
    </script> 
</body>
</html>