{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Oil Storage
{% endblock title %}

{% block content %}

    <div class="page-header text-center col-12 mb-4">
        <h1 class="pt-3">Oil Storage</h1>
    </div>

    {% if perms.oilstorage.store_management %}
        <div class="text-right col-12 mb-4">
            <a class="link-text" href="{% url 'storage_new' %}">+ ADD a NEW TANK</a>
        </div>
    {% endif %}

    {% if not object_list %}
        <div class="card storage-card text-center">
            <div class="card-header">
                <span class="display-text">No Oil Storage Deployed Yet.</span>
            </div>
        </div>
    {% else %}
        {% for tank in object_list %}
            <div class="card storage-card text-center mb-3">
                <div class="card-header storage-card-header">
                    <span class="display-text">{{ tank.name }}</span>
                    <span class="capacity-text">(Capacity: {{ tank.capacity }} Liters)</span>
                </div>
                <div class="carb-body storage-card-body">
                    <div class="volume-text">Current Volume: {{ tank.current_volume }} Liters</div>
                    <div class="wave" style="height: 100px; background-color: rgb(228, 215, 165); overflow: hidden; margin: auto; transform: translateY(216px);">
                    </div>
                </div>
                <div class="card-footer storage-card-footer">

                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}