{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Oil Storage
{% endblock title %}

{% block content %}

    <div class="page-header text-center col-12 mb-4">
        <h1 class="pt-3">Oil Storage</h1>
    </div>

    {% if perms.oilstorage.store_management %}
        <div class="text-right col-12 mb-4">
            <a class="new-tank-link" href="{% url 'storage_new' %}">+ ADD a NEW TANK</a>
        </div>
    {% endif %}

    {% if not object_list %}
        <div class="card storage-card text-center">
            <div class="card-header">
                <span class="display-text">No Oil Storage Deployed Yet.</span>
            </div>
        </div>
    {% else %}
        {% for tank in object_list %}
            <div class="card storage-card text-center mb-5">
                <div class="card-header storage-card-header">
                    <span class="display-text">{{ tank.name }}</span>
                    <span class="capacity-text">(Capacity: {{ tank.capacity }} Liters)</span>
                </div>
                <div class="carb-body storage-card-body">
                    <div class="volume-text">
                        Current Volume: 
                        {% if tank.is_empty %}
                            Empty
                        {% elif tank.is_full %}
                            Full
                        {% else %}
                            {{ tank.current_volume }} Liters
                        {% endif %}
                    </div>
                    <div class="wave wave--top" style="height: calc({{ tank.current_volume }} / {{ tank.capacity }} * 316px ); background-color: rgb(228, 215, 165); overflow: hidden; margin: auto; transform: translateY(calc(316px - {{ tank.current_volume }} / {{ tank.capacity }} * 316px));">
                    </div>
                </div>
                <div class="card-footer storage-card-footer">
                    {% if tank.is_active %}
                        {% if not tank.is_full %}
                            <a class="link-text" href="{% url 'add_oil' tank.pk %}">[ ADD_OIL ]</a>
                        {% endif %}

                        {% if not tank.is_empty %}
                            <a class="link-text ml-3" href="{% url 'draw_oil' tank.pk %}">[ DRAW_OIL ]</a>
                            <a class="link-text ml-3" href="{% url 'empty_tank' tank.pk %}">[ MAKE_EMPTY ]</a>
                        {% endif %}
                    {% else %}
                        <span class="capacity-text">The Tank is NOT Operational.</span>
                    {% endif %}

                    {% if perms.oilstorage.store_management %}
                        <a class="link-text ml-3" href="{% url 'tank_detail' tank.pk %}">[ VIEW_DETAILS ]</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}