{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Users
{% endblock title %}

{% block content %}

    <div class="page-header text-center col-12 mb-4">
        <h1 class="pt-3">Users</h1>
    </div>

    <table class="table table-striped mb-3 text-center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Permissions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for a_user in object_list %}
                {% if not a_user.is_superuser and not a_user.is_staff %}
                    <tr>
                        <td scope="row">
                            {{ a_user.first_name }} {{ a_user.last_name }}
                        </td>
                        <td>{{ a_user.username }}</td>
                        <td>
                            {% if store_management in a_user.get_user_permissions %}
                                Store Manager
                            {% elif store_keeping in a_user.get_user_permissions %}
                                Store Keeper
                            {% else %}
                                No Permissions
                            {% endif %}
                        </td>
                        <td>
                            <a class="link-text" href="{% url 'update_user' a_user.pk %}">[ Update_User ]</a>
                            <a class="ml-2 link-text" href="{% url 'user_permissions' a_user.pk %}">[ Update_Permissions ]</a>
                        </td>
                    </tr>
                {% elif a_user.is_superuser or a_user.is_staff %}
                    <tr class="d-none"></tr>
                {% else %}
                    <tr>
                        <td colspan="4">No User in the List Yet.</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}