{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} - Update Permissions
{% endblock title %}

{% block content %}

    <div class="page-header text-center col-12">
        <h1 class="pt-3">Update Permissions</h1>
    </div>

    <div class="user-form">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="submit-btn">Update Permissions</button>
        </form>
    </div>
{% endblock content %}