{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Users
{% endblock title %}

{% block content %}

    <div class="page-header text-center col-12 mb-4">
        <h1 class="pt-3">Users</h1>
    </div>

    {% for a_user in object_list %}
        {% if not a_user.is_superuser and not a_user.is_staff %}
            <div class="card user-card mb-3 text-left">
                <div class="card-header">
                    <span class="head-text">Name: </span>
                    <span class="display-text">{{ a_user.first_name }} {{ a_user.last_name }}</span>
                    <span class="ml-2 head-text">Username: </span>
                    <span class="display-text">{{ a_user.username }}</span>
                    <span class="ml-2 head-text">Permissions: </span>
                    <span class="display-text">
                        {% if store_management in a_user.get_user_permissions %}
                            Store Manager
                        {% elif store_keeping in a_user.get_user_permissions %}
                            Store Keeper
                        {% else %}
                            No Permissions
                        {% endif %}
                    </span>
                    <span class="float-right">
                        <a class="link-text" href="{% url 'update_user' a_user.pk %}">Update_User</a>
                        <a class="ml-2 link-text" href="{% url 'user_permissions' a_user.pk %}">Update_Permissions</a>
                    </span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock content %}